.formBox{
    width:100%;
    height:400px;
    position:relative;
    margin-top: 93px;
}
#username,#password{
    position:absolute;
    border: 0;
    width: 140px;
    outline: none;
    right: 226px;
    height: 17px;
}
#username{
    top: 184px;
}
#password{
    top:220px;
}